.mainpage {
  position: relative;
  min-width: 1470px;
  width: 100%;
  height: 100vh;
  display: inline-block;
  min-height: 700px;
}

span {
  font-family: Neuemontreal, sans-serif;
  color: black;

}

div.beside-logo {
  display: flex;
  flex-direction: column;
}

span.my-name {
  display: inline-block;
  padding-top: 50px;
  font-weight: bold;
}

span.below-name {
  display: inline-block;
  font-weight: bold;
  padding-top: 6px;
  padding-left: 20px;
}


.logo {
  height: 8rem;
  padding: 15px;
  padding-right: 5px;
}

div.header {
  background-color: #dcd8c0;
  position: relative;
  display: flex;
  width: 100%;
}

div.contact-button-container {
  position: absolute;
  right: 50px;
  top: 22%;
  border: 1px solid #b3af97;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

button.contact-button {
  font-family: Neuemontreal, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  border: 0px;
  height: 40px;
  background-color: #dcd8c0;
  cursor: pointer;
}

div.hero {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #dcd8c0;
  /* overflow: hidden; */
  /* min-width: fit-content; */
}

div.crop-box {
  height: 486px;
  width: 360px;
  overflow: hidden;
  animation: 2s flip-me;
  z-index: 3;
}

@keyframes flip-me {
  0% {
    opacity: 0;
    transform: translate3d(-150px, 0 ,0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

img.me {
  height: 600px;
  margin-top: -140px;
  margin-left: -60px;
  transform: rotateY(180deg) scale(1.9);
}

@keyframes speech-appear {
  0%, 50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

div.quotation-container {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  width: 780px;
  transform: translate3d(0, -100px, 0);
  animation: 2s speech-appear;
}

span.quotation-open {
  color: grey;
  display: inline-block;
  font-size: 150px;
  height: 50px;
}

span.quotation-close {
  color: grey;
  display: inline-block;
  font-size: 0px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 40px;
}

span.quote {
  padding-top: 50px;
  padding-left: 20px;
  display: inline-block;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #5d4b0b
}

div.speech-bubble-container {
  position: absolute;
  top: 0;
  height: 180px;
  width: 360px;
  transform: translate3d(60px, 0, 0);
  animation: 3s speech-appear;
}

span.speech {
  display: inline-block;
  width: 100%;
  height: 100%;
  transform: translate3d(0, -190px, 0);
  padding: 32px;
  font-weight: bold;
  font-size: 30px;
  font-family: Neuemontreal, sans-serif;
}

img.speech-bubble {
  transform-origin: top;
  transform: scaleY(0.9) scaleX(1.7) translate3d(40px, 0, 0);
}

div.intro-container {
  position: absolute;
  height: 25%;
  width: 95%;
  border-radius: 10rem;
  background-color: rgb(53, 52, 52);
  overflow: hidden;
  display: flex;
  z-index: 1;
  justify-content: center;
  bottom: 15%;
}

span.descriptors {
  position: relative;
  height: 100%;
  top: 20%;
  text-wrap: nowrap;
  font-size: 70px;
  color: #dcd8c0;
  animation: 5s linear infinite spin-description;
}

@keyframes spin-description {
  100% {
    transform: translate3d(-890px, 0, 0);
  }
}

span.intro-one {
  display: inline-block;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}

span.intro-two {
  display: inline-block;
  padding-left: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}

div.arrow-container {
  position: relative;
  height: 100px;
}

div.circle {
  position: absolute;
  bottom: 10px;
  left: calc(50vw - 14px);
  border: 1px solid black;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  background-color: black;
}

img.down-arrow {
  position: absolute;
  bottom: 16px;
  left: calc(50vw - 11px);
  animation: 2s cubic-bezier(.38,.25,.54,1.55) infinite arrow-bounce;
}

@keyframes arrow-bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, 6px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}