:root {
  --hobbies-scale: calc(100vw/1647px);
}

@font-face {
  font-family: 'cursive';
  src: url("GreatVibes-Regular.ttf");
}

div.hobbies-overall {
  background-color: #dbd8c0;
}

.grey-text {
  color: rgb(71, 71, 71);
}

div.text p {
  font-family: Neuemontreal, sans-serif;
  font-size: max(1.2vw, 14px);
}

div.text strong {
  display: inline-block;
  font-family: Neuemontreal, sans-serif;
  font-size: max(1.6vw, 18px);
}

@keyframes rotate-corner {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

img.phone-image {
  width: 127vw;
  margin-left: 12.5vw;
  margin-top: -0.5vw;
  transform-origin: 100% 100%;
  animation: 2s 1 rotate-corner;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0%, 50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

div.contents-container {
  animation-fill-mode: forwards;
  animation: 4s appear;
}

div.gram-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5vw 1.5vw;
}

div.corner-logo {
  position:relative;
}

img.archive-logo {
  position:relative;
  display: block;
  /* transform: scale(0.4); */
  width: 1.5vw;
  cursor: pointer;
  opacity: 0;
  transition: transform 0.3s ease-in-out;
}

img.back-logo {
  position: absolute;
  display: block;
  /* transform: scale(0.4); */
  width: 2vw;
  cursor: pointer;
  opacity: 0;
  transition: transform 0.3s ease-in-out;
}

img.archive-logo:hover {
  transform: scale(1.05);
}

div.phone-image-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vw;
  /* cursor: none; */
}

div.contents-container {
  position: absolute;
  width: 60%;
  height: 26.5vw;
  top: 22%;
  left: 19%;
  padding: 0.5vw;
}

span.gram-logo {
  display: inline-block;
  font-family: 'cursive';
  font-size: 2vw;
  /* padding-top: 10px; */
}

span.archive-text {
  display: inline-block;
  font-size: 1vw;
  padding-right: 6vw;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  opacity: 0;
  visibility: hidden;
}

span.appear, img.appear {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

div.gram-body-container {
  position: relative;
  height: 83%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.gram-image-container {
  position: relative;
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
  display: inline-block;
  margin: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 1.5vw;
  margin-right: 2vw;
  border-radius: 10px;
  border: 2px solid black;
}

div.grey-out {
  height: 100%;
  width: 100%;
  background-color: rgb(105, 68, 20);
  /* opacity: 0.6; */
  /* mix blend mode */
}

div.filler {
  width: 100%;
  height: 100%;
  background-color: white;
}

div.gram-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.button-container {
  margin-right: 2.8vw;
  position: absolute;
  bottom: 15%;
}

button.change{
  font-size: 1vw;
  margin: 0 20px;
  height: 2vw;
  width: 5vw;;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

button.change:active {
  transform: scale(0.97);
  transition: transform .1s ease-in-out;
}

div.text {
  position: absolute;
  inset: 0;
  margin-bottom: 5.5vw;
  margin-top: 1.5vw;
  margin-right: 1.5vw;
  background-color: white;
  transition: opacity 0.5s ease-in-out;
  overflow-y: scroll;
}

div.grey-out img {
  mix-blend-mode:lighten;
}

img.bouldering {
  /* transform: scale(0.7); */
  width: 30vw;
  margin-top: -6vw;
  margin-left: -2vw;
}

img.singing {
  /* transform: scale(0.25); */
  width: 26.5vw;
  margin-top: 2.5vw;
  /* margin-left: -0.5vw; */
}

img.softball {
  /* transform: scale(0.7); */
  width: 27vw;
  /* margin-left: -147px; */
  margin-top: -14vw;
}

img.football {
  /* transform: scale(0.4); */
  width: 27vw;
  margin-left: -0.5vw;
  /* margin-top: -350px; */
}

.bouldering, .football {
  z-index: 3; 
}

.singing {
  z-index: 2;
}

.softball {
  z-index: 1;
}

.button-container {
  z-index: 999;
}

.bouldering, .singing, .softball{
  position: absolute;
}

@keyframes swipe-text {
  0%, 50% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(50vw, 0, 0);
  }
}

div.swiped-text {
  opacity: 0;
  animation: 1s swipe-text;
  animation-fill-mode: forwards;
}

img.picture, div.picture {
  transform: translate3d(0,0,0);
  transition: transform 0.5s ease-in-out;
}

img.swiped-picture, div.swiped-picture {
  transform: translate3d(-50vw, 0, 0);
}

@media (min-width: 2700px) {
div.contents-container {
  position: absolute;
  width: 1623px;
  height: 730px;
  top: calc(240px + (100vw - 2700px) / 5.5);
  left: calc(495px + (100vw - 2700px) / 1.9);
  padding: 0.5vw;
}

img.bouldering {
  width: 807px;
  margin-top: -160px;
}

img.singing {
  width: 712px;
  margin-top: 66px;
}

img.softball {
  width: 725px;
  margin-top: -370px;
}
}


/*for phone (tbc)*/
/*@media (max-width: 780px) {
img.phone-image {
  display: none;
}

div.phone-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.contents-container {
  top: 0;
  left: 0;
  position: relative;
  width: 90%;
  height: 90%; 
  margin: 0px;
  padding: 0px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
}
}*/