div.dividor {
  border: 1px solid rgb(184, 184, 184);
  width: 95%;
  margin-bottom: 30px;
  justify-self: center;
}

div.exp-awards-container {
  margin: 40px;
  margin-top: 0;
  border-radius: 12px;
  border: 2px solid rgb(111, 111, 111);
  box-shadow: 6px 6px 3px grey;
  cursor: pointer;
}

div.exp-awards-container:hover {
  background-color: black;
  box-shadow: 6px 6px 3px grey;
  transition: background-color 0.3s ease-in-out;
}

div.exp-awards-container:hover strong{
  transition: color 0.3s ease-in-out;
  color: white;
}

div.exp-awards-header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0; 
}

div.collapsable1, div.collapsable2, div.collapsable3 {
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

div.display {
  display: block;
  overflow: hidden;
}

div.exp-awards-body {
  display: flex;
  flex-direction: column;
  font-family: Neuemontreal, sans-serif;
  background-color: #dbd8c0;
}

span.category {
  margin: 40px;
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

div.written p {
  /* display: none; */
  /* visibility: hidden; */
  color: white;
}

div.experience-grid, div.awards-grid-two {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-columns: none;
  /* transition: height 3s ease-in-out; */
}

div.awards-grid-one {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

div.experience-pic-container {
  /* position: relative; */
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-gap: 20px;
  width: 100%;
  height: 500px;
  /* display:none; */
  /* overflow: hidden; */
  /* visibility: hidden; */
}

div.experience-pic-one {
  /* position: absolute; */
  overflow: hidden;
  border-radius: 20px;
  /* top: 0;
  left: 0;
  height: 65%;
  width: 55%; */
  /* transform: rotate(-10deg); */
}

div.experience-pic-two {
  /* position: absolute; */
  overflow: hidden;
  border-radius: 20px;
  /* bottom: 0;
  right: 0;
  height: 65%;
  width: 65%; */
  /* transform: rotate(5deg); */
}

img.sesto-one {
  transform: scale(0.8);
  margin-top: -400px;
  margin-left: -120px;
}

img.sesto-two {
  transform: scale(0.75);
  margin-top: -250px;
  margin-left: -150px;
}

img.psa-one {
  transform: scale(0.15) rotate(1deg);
  transform-origin: 0% 0%;
  margin-top: -10px;
  margin-left: -220px;
}

img.psa-two {
  /* transform-origin: 100% 0%; */
  transform: scale(0.12) rotate(-90deg);
  margin-left: -2600px;
  margin-top: -1600px;
}

img.ideate-one {
  transform-origin: 0% 0%;
  transform: scale(0.6);
  margin-top: -60px;
  margin-left: -20px;
}

img.ideate-two {
  transform-origin: 0% 0%;
  transform: scale(0.52);
  margin-left: -180px;
}

strong.title {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 25px;
}

p.role {
  color: grey;
  font-size: 15px;
}

li {
  font-size: 18px;
  margin-bottom: 15px;
}

div.experience-text, div.awards-text {
  padding: 1%;
  display: grid;
  /* grid-template-rows: 7fr 3fr; */
  grid-gap: 20px;
  /* display: grid; */
  grid-template-columns: 4fr 6fr;
  /* grid-template-rows: none; */
  /* padding: 1%; */
}

div.skills {
  position: relative;
  display: flex;
  padding: 20px;
  /* display: none */
}

div.skills img {
  height: 80px;
  margin: 0 10px;
}

div.down-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.down {
  width: 30px;
  cursor: pointer;
}
